DEBUG=True

SECRET_KEY=change_me

ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=database_url

REDIS_URL=redis_url

ACCESS_TOKEN_LIFETIME=15
REFRESH_TOKEN_LIFETIME=7

DEFAULT_FROM_EMAIL=default_from_email
SERVER_EMAIL=server_email

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=email_host_user
EMAIL_HOST_PASSWORD=email_host_password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_TIMEOUT=10

DATABASE_CONN_MAX_AGE=60
DATABASE_CONN_HEALTH_CHECKS=True
DATABASE_DISABLE_SERVER_SIDE_CURSORS=False

OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_RESENDS=3
OTP_EXPIRY_SECONDS=300

CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
CELERY_RESULT_BACKEND=<REDIS_URL>
CELERY_TASK_DEFAULT_QUEUE=preplate

LOG_LEVEL=INFO
DJANGO_LOG_LEVEL=INFO
DJANGO_REQUEST_LOG_LEVEL=WARNING
CELERY_LOG_LEVEL=INFO

SERVE_MEDIA_FILES=True  # only in local settings

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend  # because DEBUG=False in local settings
TEST_DATABASE_NAME=test_preplate  # only for tests

UPSTASH_REDIS_REST_URL=upstash_redis_url
UPSTASH_REDIS_REST_TOKEN=upstash_redis_token